.fxchange-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fxchange-parent > * {
    margin: 10px;
}

.fxchange-input {
    width: 50%;
    border-radius: 3px;
    border: none;
    font-size: calc(10px + 2vmin);
}

.fxchange-select {
    width: 200px;
    margin: none;
}

option {
    font: black;
}

.fxchange-clear-button {
    display: none;
}

@media only screen and (max-width: 360px) {
	.fxchange-clear-button {
        display: block;
        background-color: #006AC3;
        border: 1px solid black;
        padding: 10px 20px 10px 20px;
	}
}

